* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
}

body {
    background-color: #eff2f1;
}

:root {
    --main-color: #3b5d50;
    --transparent-color: rgba(255, 255, 255, 0.5);
    --p-color: #6A6A6A;


}




h1,
h2 {
    line-height: 1.2;
    margin-bottom: 1.3rem;

}

a {
    text-decoration: none;
}

img {
    height: auto;
}


h1 {
    color: white;
}

h2 {
    font-size: 2rem;
    color: rgb(47, 47, 47);
    font-weight: 600;
}

h3 {
    font-size: 1rem;
    font-weight: 600;
}

h4 {
    font-weight: 600;
    font-size: 0.9rem;
    color: #2F2F2F;
    padding-top: 1rem;
}

strong {
    font-size: 1.15rem;
}

.p {
    color: #6A6A6A;
    margin-bottom: 1.5rem;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    padding: 1rem 4rem;
}

.lll .logo {
    text-decoration: none;
    color: white;
    opacity: 1;

}




nav a {
    text-decoration: none;
    color: white;
    opacity: 0.4;
    margin-left: 2.2rem;
    font-weight: 500;
    padding-bottom: 0.2rem;
    transition: all 0.1s ease;
}

.lll {
    opacity: 1;
}

.logo {
    color: white;
    font-size: 2rem;
    font-weight: 600;

}

nav a:hover {
    opacity: 1;
    border-bottom: 4px solid gold;
}

.aaa {
    border-bottom: 4px solid gold;
}

nav span:nth-child(1) {
    opacity: 1;
}

nav .nav-a {
    opacity: 1;
}



#hero {
    background-color: var(--main-color);
    max-width: 100%;
    padding: 2rem 4rem;
    /* max-height: 89.8vh; */

}

.hero-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-top: 2rem;

}

.hero-left {
    padding-right: 2rem;
    padding-top: 2rem;
}

.hero-right img {
    max-width: 100%;
    height: auto;
}

.hero-left h1 {
    font-size: 2.5rem;
    font-weight: 700;

}

.hero-left p {
    margin-bottom: 1.5rem;
    color: rgba(255, 255, 255, 0.5);

}


.btn-shop-now {
    font-weight: 600;
    padding: 0.8rem 1.9rem;
    background-color: #f9bf29;
    color: #2f2f2f;
    border-radius: 30px;
    transition: all 0.2s ease;
}

.btn-shop-now:hover {
    background-color: #eeac07;
    color: #0d0d0d;

}

.btn-explore {
    color: white;
    font-weight: 600;
    border: 2px solid grey;
    padding: 0.8rem 1.9rem;
    border-radius: 30px;
    transition: all 0.2s ease;
}

.btn-explore:hover {
    border-color: white;
}

.hero-right {
    max-width: 100%;

}

.sofa-img {
    z-index: 3;
    position: relative;
}

.dots-img {
    position: absolute;
    right: 0px;
}


.btn-black {
    font-weight: 600;
    padding: 0.8rem 1.9rem;
    color: white;
    border-radius: 30px;
    background-color: rgb(40, 40, 40);
    transition: all 0.2s ease;

}

.btn-black:hover {
    background-color: black;
}


.product-row {
    margin: 4rem;
    margin-top: 7rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.products-p {
    padding-bottom: 11rem;
}

.product-row img {
    max-width: 100%;
    height: auto;
}

.col44 {
    width: 23%;
}

.col {
    max-width: 25%;
    position: relative;
}

.text-center {
    text-align: center;
    margin-bottom: 1rem;
}

.cross-btn {
    display: block;
    background-color: #2f2f2f;
    padding: 0.5rem;
    border-radius: 50%;
    margin: auto;
    opacity: 0;
    transition: all 0.3s ease;
}

.col:hover .cross-btn {
    opacity: 1;
    transform: translatey(10px);

}

.hover-div {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(220, 229, 228);
    height: 0;
    width: 100%;
    transition: height 0.3s ease;
    z-index: -1;
    border-radius: 20px;
}

.col:hover .hover-div {
    height: 70%;
    opacity: 1;
}

.col img {
    transition: all 0.3s ease;
}

.col:hover img {
    transform: translateY(-1.5rem);

}

.choose-row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.choose-left {
    margin: 4rem;
}

.left-1 {
    display: flex;
}

.left-2 {
    display: flex;
}

.choose-icon {
    background: rgba(59, 93, 80, 0.2);
    border-radius: 50%;
    width: 1.9rem;
    height: 1.9rem;
}


.radius {
    border-radius: 20px;
    height: auto;

}

#why-chhose-us {
    margin-top: 7rem;
    /* margin: 0 4rem; */
}

.why-4 {
    margin: 4rem 4rem;

}

.choose-right {
    margin-top: 6rem;
    position: relative;
}

.choose-right img {
    height: auto;
    max-width: 90%;

}

.col-c {
    max-width: 43%;
    height: auto;
}

.yellow-dots {
    position: absolute;
    top: -50px;
    left: -50px;
    z-index: -2;
}

.p-4 {
    margin-top: 1.5rem;
    padding-right: 2rem;
}

.p-4 p {
    font-size: 0.9rem;
}

.help-row {
    margin: 4rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.help-left {
    margin-right: 3rem;
    position: relative;
}

.help-right-img {
    width: 64%;
    height: 100%;
    border-radius: 24px;
}

.help-top-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 33%;
    border-radius: 24px;
}

.help-bottom-img {
    position: absolute;
    width: 50%;
    height: 75%;
    bottom: -20%;
    right: 0;
    border-radius: 25px;
}

.help-green-dots {
    position: absolute;
    width: 30%;
    top: -50px;
    left: -50px;
    z-index: -1;

}

.col-l {
    width: 59%;
}

.col-r {
    width: 34%;
}

.right-ul ul {
    display: flex;
    list-style-type: circle;
}

.pp {
    font-size: 0.9rem;
}

#help-section {
    margin-top: 8rem;

}

#read-more {
    margin-top: 11rem;

}

.read-row {
    margin: 4rem;
    display: flex;
    gap: 1rem;
    /* justify-content: space-between; */
}

.rr {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
}

.bg-div {
    height: 100px;
    width: 150px;
    background-color: rgba(220, 229, 228);
    border-radius: 20%;
    margin-right: 1rem;
}

.bg-div+div p {
    padding-bottom: 0;
    margin-bottom: 0.4rem;
    line-height: 1.4;

}

.bg-div+div h4 {
    font-weight: 700;
}

.read-img {
    height: 100%;
    max-width: 100%;
}

.aa {
    color: #2F2F2F;


}

#recent-blog {
    margin: 4rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.recent-row {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;

}

.recent-row div {
    width: 31.9%;
}

.recent-row div img {
    height: auto;
    max-width: 100%;
    border-radius: 25px;
}

.recent-row div h3 {
    font-size: 1rem;
    font-weight: 600;

    padding: 0.7rem;
    padding-left: 1.3em;
    padding-right: 2rem;
}

.recent-row div h3 span {
    color: #6A6A6A;
    font-weight: 400;
}

.recent-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.rec img {
    transition: all 0.2s ease;
}

.recent-title a {
    text-decoration: none;
    color: #181818;
}

.recent-title a:hover {
    text-decoration: underline;
}

.rec:hover img {
    opacity: 0.8;
}


#subscribe {
    /* margin: 4rem; */
    padding-bottom: 0;
    background-color: white;
}

.subscribe-row {
    display: flex;
    gap: 1rem;
    position: relative;

}

.green {
    color: #3b5d50;
    font-size: 1.2rem;
    display: flex;
    align-items: center;

}

.green img {
    vertical-align: middle;
}

.subscribe-left form input {
    padding: 0.8rem 1rem;
    padding-right: 4rem;
    border: 0.08rem solid rgb(180, 180, 180);
    border-radius: 0.7rem;

}

.subscribe-left form {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.subscribe-left form input:focus {
    outline: none;
    border-color: #3b5d50;
    box-shadow: 0.5px 0.5px 2px grey;
}

.subscribe-right img {
    /* height:70%; */
    height: 20rem;
    max-width: 100%;
    /* position: relative; */
    /* top: -12rem;
    right:-10rem; */
}

.subscribe-left a {
    padding: 0.9rem 2rem;
    background-color: #3b5d50;
    color: white;
    border-radius: 0.7rem;
    font-weight: 600;
    transition: all 0.2s ease;
    vertical-align: middle;
}

.subscribe-right {
    position: absolute;
    height: auto;
    max-width: 100%;
    margin: 0;
    padding: 0;
    right: 0;
    top: -12rem;
}

.subscribe-left a:hover {
    background-color: #335145;
}

.f1 .logo {
    color: #335145;
}

.container {
    margin: 0 4rem;
    padding-top: 4rem;
    padding-bottom: 1.5rem;
    /* background-color: white; */
}

footer {
    background-color: white;
}

.social-icons {
    display: flex;
    gap: 0.5rem;

}

.ii {
    background-color: #dce5e4;
    border-radius: 50%;
    color: #3b5d50;
    padding: 0.8rem;
    transition: all 0.2s ease;
    margin: auto;


}

.ii:hover {

    color: white;
    background-color: #3b5d50;
}

.footer-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* gap: 1rem; */
}

.bbb {
    background-color: #606060;
    border-radius: 50%;
    color: #2f2f2f;
    padding: 1.5rem;
    transition: all 0.2s ease;
    font-size: 10px;
}

.bbb:hover {
    color: white;
    background-color: #244a2b;
}

.f1 {
    width: 29%;
}

.f1 .logo {
    margin-bottom: 1rem;
}

.f1 p {
    text-align: justify;
}

.fff ul {
    padding-top: 4rem;
    padding-right: 2.5rem;
    margin-top: 1.5rem;
    list-style-type: none;
    margin: 0;
}

.fff ul li {
    margin-bottom: 0.6rem;
}

.fff a {
    color: #242424;
    font-size: 0.9rem;
}

.fff a:hover {
    color: #6A6A6A;
}

.borr {
    border-bottom: 0.08rem solid #cccaca;
    padding-bottom: 2rem;
}

.copyright {
    padding: 1rem 4rem 4rem 4rem;
    display: flex;
    justify-content: space-between;
}

.copyright a {
    color: #1f1e1e;
    font-size: 0.9rem;
    margin-right: 0.9rem;
}

.copyright a:hover {
    color: #6A6A6A;
}


.carr .person-img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin-right: 1rem;
    text-align: center;
    margin: auto;
}

.carr {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    text-align: center;
    padding: 2rem;
}

.carr p {
    /* max-width: 500px; */
    padding: 02rem 14.8rem;
    padding-bottom: 2rem;
    margin: auto;
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #6A6A6A;
}

.carr .c-p {
    padding-top: 0;
}

#team {
    margin: 6rem 0;

}

.team-row {
    margin: 4rem;
    display: flex;
    gap: 1.3rem;
    flex-wrap: wrap;
}

.team-44 {
    width: 23.5%;
    height: auto;
}

.team-44 h2 {
    text-decoration: underline;
    padding-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 500;

}

.team-44 h2:hover {
    text-decoration: none;
}

.team-title {
    text-align: center;
    margin: auto;
}

.team-44 img {
    max-width: 100%;
    height: auto;

}

.team-44 p+p+div a {
    color: rgb(34, 33, 33);
    text-decoration: underline;
    font-weight: 500;
}

.team-44 p+p+div a:hover {
    text-decoration: none;
}

.s-44 {
    width: 100%
}

.pad-b {
    padding-bottom: 15rem;
}

.icons-row div {
    display: flex;
    gap: 0.5rem;
     width: 33%;
    align-items: center;
}

.icons-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
    gap: 2rem;
}

.icons-row div a i {
    background-color: #3B5D50;
    padding: 1.2rem 1.2rem;
    border-radius: 0.6rem;
    color: white;
    cursor: auto
}

.icons-row div p {
    margin: 0 0.8rem;

}
.icons-row div{
    width: 33%;
    align-items: center;
}


.names-row {
    display: flex;
    gap: 1rem;
}

.name-i {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.email-i #email {
    padding: 0.6rem 1rem;
    padding-right: 4rem;
    border: 0.08rem solid rgb(180, 180, 180);
    border-radius: 0.7rem;
    /* margin-top: 1rem; */
    width: 100%;
}

.names-row input[type=text] {
    padding: 0.6rem 1rem;
    padding-right: 4rem;
    border: 0.08rem solid rgb(180, 180, 180);
    border-radius: 0.7rem;
    transition: all 0.2s ease;
    /* margin-top: 0.5rem; */
    /* width: 100%; */
}

#message {
    padding: 0.6rem 1rem;
    padding-right: 4rem;
    border: 0.08rem solid rgb(180, 180, 180);
    border-radius: 0.7rem;
    /* margin-top: 0.5rem; */
    transition: all 0.2s ease;

    width: 100%;
    margin-bottom: 3rem;
}

.c-form div input,
textarea {
    margin-top: 0;
    padding-top: 0;
}

.c-form div input:focus,
textarea:focus {
    outline: 0.1px solid black;
    box-shadow: 0 0 6px rgb(162, 162, 162);
}

.mar-c {
    padding-top: 2.5rem;
    margin: 5rem auto;
    max-width: 740px;
    padding-bottom: 5rem;
}

.mar-c label {
    font-size: 0.899rem;
    font-weight: 400;

}

.icons-row div .pp {
    line-height: 1.4;
}

















































/* .c-form{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 5rem;
} */
/* @
media screen and ( min-width :768px) {
    h1{
        font-size: 10px;
    }
} */